 ------
 Usage
 ------
 Mark Hobson
 ------
 2009-12-03
 ------


Usage

  The following examples describe the basic usage of the plugin:

Running Batik explicitly

  To rasterize all SVGs in <<<src/main/svg>>> to PNGs in <<<target/generated-resources/images>>>, add the following to
  your pom:
  
---
<project>
  ...
    <build>
      ...
      <plugins>
        ...
        <plugin>
          <groupId>org.codehaus.mojo</groupId>
          <artifactId>batik-maven-plugin</artifactId>
          <version>${project.version}</version>
        </plugin>
        ...
      </plugins>
      ...
    </build>
  ...
</project>
---

  Then execute the following command to run Batik:
  
---
mvn batik:rasterize
---

Running Batik as part of the build

  To rasterize SVGs as part of the build process, add the following to your pom:

---
<project>
  ...
    <build>
      ...
      <plugins>
        ...
        <plugin>
          <groupId>org.codehaus.mojo</groupId>
          <artifactId>batik-maven-plugin</artifactId>
          <version>${project.version}</version>
          <executions>
            <execution>
              <goals>
                <goal>rasterize</goal>
              </goals>
            </execution>
          </executions>
        </plugin>
        ...
      </plugins>
      ...
    </build>
  ...
</project>
---

  Batik will then rasterize the SVGs during the <<<generate-resources>>> phase.  This can be explicitly invoked using: 

---
mvn generate-resources
---
