<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<faqs id="FAQ" title="Frequently Asked Questions">
  <part id="general">
    <title>General</title>

    <faq id="versions">
      <question>What does the Virtualization Maven Plugin do?</question>
      <answer>
        <p>The Virtualization Maven Plugin provides a means to control virtual computers running on a virtualization platform from within a Maven project</p>
      </answer>
    </faq>

    <faq id="platforms">
      <question>What virtualization platforms are supported by the Virtualization Maven Plugin?</question>
      <answer>
        <p>
          The Virtualization Maven Plugin uses the <a href="https://vcc.dev.java.net">Virtual Computer Control</a> project's API to control virtualization platforms,
          so if your virtualization platform is supported by <a href="https://vcc.dev.java.net">Virtual Computer Control</a>, then it is supported by the
          Virtualization Maven Plugin.
        </p>
      </answer>
    </faq>

    <faq id="custom-impls">
      <question>I have written an implementation of the vcc-api for my virtualization platform, how can I use this with the Virtualization Maven Plugin?</question>
      <answer>
        <p>
          Firstly, would you be interested in having your implementation hosted by the <a href="https://vcc.dev.java.net">Virtual Computer Control</a>.  Please
          email the <a href="mailto:dev@vcc.dev.java.net">VCC Developer Mailing List</a> to see about getting your implementation hosted.
        </p>
        <p>
          Secondly, it is not necessary to have your implementation hosted by the <a href="https://vcc.dev.java.net">Virtual Computer Control</a> project.  Assuming
          you have your implementation installed in either your local repository, or a remote repository which you have configured in either your <code>pom.xml</code>
          or in your <code>settings.xml</code>, all you need to do is add your implementation as a dependency of the Virtualiazation Maven Plugin, e.g.
        </p>
        <pre>
&lt;project&gt;
  &lt;build&gt;
    &lt;plugins&gt;
      &lt;plugin&gt;
        &lt;groupId&gt;org.codehaus.mojo&lt;/groupId&gt;
        &lt;artifactId&gt;virtualization-maven-plugin&lt;/artifactId&gt;
        &lt;version&gt;${project.version}&lt;/version&gt;
        ...
        &lt;dependencies&gt;
          &lt;dependency&gt;
            &lt;groupId&gt;<i>your impl's groupId</i>&lt;/groupId&gt;
            &lt;artifactId&gt;<i>your impl's artifactId</i>&lt;/artifactId&gt;
            &lt;version&gt;<i>your impl's version</i>&lt;/version&gt;
          &lt;/dependency&gt;
        &lt;/dependencies&gt;
        ...
      &lt;/plugin&gt;
    &lt;/plugins&gt;
  &lt;/build&gt;
&lt;/project&gt;
        </pre>
      </answer>
    </faq>

  </part>
</faqs>
