 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 -----
 Translate Properties
 -----
 Stephen Connolly
 ------
 2009-10-06
 ------

Translate Properties

  An example of the plugin attached in a profile is:

+---+
<project>

  ...

  <profiles>
  
    ...
  
    <profile>
      <id>pm-l10n</id>
      <build>
        <plugins>
          <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <executions>
              <execution>
                <goals>
                  <goal>translate-properties</goal>
                </goals>
              </execution>
            </executions>
            <configuration>
              <referrer>http://myprogram.mycompany.com/</referrer>
              <masterLocale>en</masterLocale>
              <targetLocales>
                <targetLocale>fr</targetLocale>
                <targetLocale>de</targetLocale>
              </targetLocales>
            </configuration>
          </plugin>
        </plugins>
      </build>
    </profile>
  </profiles>
</project>
+---+

  The project structure would be something like
  
+---+
pom.xml
src/
    i18n/
        resources/
            com/
                mycompany/
                    myprogram/
                        Messages.properties
+---+

  After running the build with the profile enabled
  
+---+
mvn clean package -Ppm-l10n
+---+

  The translated messages should end up in target/classes, e.g.
  
+---+
pom.xml
src/
    i18n/
        resources/
            com/
                mycompany/
                    myprogram/
                        Messages.properties
target/
    classes/
        com/
            mycompany/
                myprogram/
                    Messages.properties
                    Messages_en.properties
                    Messages_fr.properties
                    Messages_de.properties
+---+

  