 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 -----
 Using for integration testing
 -----
 Stephen Connolly
 ------
 2009-08-13
 ------

Using for integration testing

  This example shows how to use the virtualization-maven-plugin to start and stop a virtual computer which is then
  used by the integration tests (executed by the failsafe-maven-plugin)

---
<project>
  ...
  <build>
    ...
    <plugins>
      ...
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>virtualization-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <datacenterUri>vcc+vi+https://hostname/sdk</datacenterUri>
          <username>myname</username>
          <password>secret</password>
        </configuration>
        <executions>
          <execution>
            <id>start-database</id>
            <phase>pre-integration-test</phase>
            <goals>
              <goal>start-computer</goal>
            </goals>
            <configuration>
              <computers>
                <computer>My Database Server</computer>
              </computers>
            </configuration>
          </execution>
          <execution>
            <id>stop-database</id>
            <phase>post-integration-test</phase>
            <goals>
              <goal>suspend-computer</goal>
            </goals>
            <configuration>
              <computers>
                <computer>My Database Server</computer>
              </computers>
            </configuration>
          </execution>
        </executions>
      </plugin>
      ...
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>failsafe-maven-plugin</artifactId>
        <version>2.4.3-alpha-1</version>
        <executions>
          <execution>
            <id>integration-test</id>
            <goals>
              <goal>integration-test</goal>
            </goals>
          </execution>
          <execution>
            <id>verify</id>
            <goals>
              <goal>verify</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>
---
